registry=http://nexus-repo.local.sutrix.com/repository/npm-group/
always-auth=true
_auth="YWRtaW46U3V0cjF4SVQh"
CYPRESS_INSTALL_BINARY=http://nexus-repo.local.sutrix.com/repository/raw-group/desktop/4.5.0/win32-x64/cypress.zip
sass_binary_site=http://nexus-repo.local.sutrix.com/repository/raw-github-com/sass/node-sass/releases/download/
phantomjs_cdnurl=http://nexus-repo.local.sutrix.com/repository/raw-group/phantomjs/
SHARP_DIST_BASE_URL=http://nexus-repo.local.sutrix.com/repository/raw-github-com/lovell/sharp-libvips/releases/download/
chromedriver_cdnurl=http://nexus-repo.local.sutrix.com/repository/raw-chromedriver-storage-googleapis/
strict-ssl=false